body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header, footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  overflow: hidden;
}

aside {
  background-color: #f4f4f4;
  float: left;
  box-sizing: border-box;
  width: 20%;
  padding: 20px;
}

.content {
  float: left;
  width: 80%;
}

.post {
  clear: both;
  margin-bottom: 20px;
}

.text {
  float: left;
  margin-right: 20px;
  background-color: #f4f4f4;
  padding: 10px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text p {
  margin-bottom: 10px;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
}
