@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Selector universal*/
*{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgba(9, 8, 8, 0.8);
}

/*Selector d'element*/
h1 {
  background: #43D1AF;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 700;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}

/*Selector de classe*/
.form-div{
  max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.red {
  color: rgb(185, 35, 35);
}

/*Selector d'atribut*/
input[type=text],
input[type=password],
input[type=email] {  
	outline: none;	
  width: 95%;
	background: #fff;
	margin-bottom: 3%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
  border-radius: 0.5em;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

/*Selector d'identificador*/
#button-login {
  background-color: #43D1AF;
  width: 97%;
	padding: 3%;
	background: #43D1AF;
	border-bottom: 2px solid #30C29E;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
  outline: none;
}

#button-login:focus {
  box-shadow: 0 0 5px rgba(9, 8, 8, 0.8);
}

#button-login:hover {
  background: #2EBC99;
}

