/*Pseudoclasses*/
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number] {
  box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

#button-login:focus, #button-reset:focus {
  box-shadow: 0 0 5px rgba(9, 8, 8, 0.8);
}

#button-login:hover {
  background-color: #2EBC99;
}

#button-reset:hover {
  background-color: #444;
}

input:valid {
  background-color: #43d1b044;
} 

input:out-of-range{
  background-color: rgba(255, 127, 80, 0.416);
}

:checked + span {
  font-style: italic;
  color: #555;
}

#button-reset:disabled {
  background-color: #ccc;
  color: #555;
}
